html,
body {
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  @include qs-reset-box-model;
  @include qs-default-font;
}

#{$qs-html-elements} {
  @include qs-reset-box-model;
  @include qs-box-sizing;
  @include qs-default-font;
}

#{$qs-list-elements} {
  @include qs-reset-list-style;
}

strong,
b {
  font-weight: $qs-font-weight-regular;
}

a {
  text-decoration: none;
  color: $qs-anchor-color;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: $qs-anchor-color-visited !important;
    text-decoration: line-through;
  }

  &.is-default {
    &.is-hover {
      color: $qs-anchor-color-hover !important;
    }
  }
  &.has-color {
    &.is-hover {
      opacity: .7;
    }
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

caption {
  @include qs-hide;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  background: none;
  color: $qs-color-gray-100;
  @include qs-reset-font;
  @include qs-reset-box-model;
  @include qs-border-radius(0);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {width:6px; height:6px;} /* width */
::-webkit-scrollbar-thumb {background:rgba(144, 147, 153, 0.3); border-radius:4px;} /* Handle */
::-webkit-scrollbar-thumb:hover {background:rgba(144, 147, 153, 0.5);} /* Handle on hover */