.qs-loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.58);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
  z-index: 999;

  .qs-lds-css {
    .qs-lds-ring {
      position: absolute;
      width: 177px;
      height: 102px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .cloud-path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        animation: draw 1.5s linear;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes draw {
  to {
      stroke-dashoffset: -1000;
  }
}