// notosans thin
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
// notosans light
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
// notosans regular
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
// notosans medium
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
// notosans bold
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
// notosans black
@font-face {
  font-family: 'notosans';
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff');
  src:
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf') format("opentype"),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
