// nanumsquare ultra light
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareL.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareL.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareL.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareL.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
// nanumsquare light
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareL.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareL.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareL.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareL.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
// nanumsquare regular
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareR.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareR.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareR.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareR.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
// nanumsquare medium
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareR.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareR.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareR.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareR.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
// nanumsquare bold
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareB.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareB.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareB.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareB.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
// nanumsquare black
@font-face {
  font-family: 'NanumSquare';
  src: url('~assets/styles/fonts/nanumsquare/eot/NanumSquareEB.eot');
  src:
    url('~assets/styles/fonts/nanumsquare/eot/NanumSquareEB.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumsquare/woff/NanumSquareEB.woff') format('woff'),
    url('~assets/styles/fonts/nanumsquare/ttf/NanumSquareEB.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
