.theme-green {
  --color-primary-10: #{$greentheme-color-primary-10};
  --color-primary-20: #{$greentheme-color-primary-20};
  --color-primary-30: #{$greentheme-color-primary-30};
  --color-primary-40: #{$greentheme-color-primary-40};
  --color-primary-50: #{$greentheme-color-primary-50};
  --color-primary-60: #{$greentheme-color-primary-60};
  --color-primary-70: #{$greentheme-color-primary-70};
  --color-primary-80: #{$greentheme-color-primary-80};
  --color-primary-90: #{$greentheme-color-primary-90};
  --color-primary-100: #{$greentheme-color-primary-100};
  --color-secondary-10: #{$greentheme-color-secondary-10};
  --color-secondary-20: #{$greentheme-color-secondary-20};
  --color-secondary-30: #{$greentheme-color-secondary-30};
  --color-secondary-40: #{$greentheme-color-secondary-40};
  --color-secondary-50: #{$greentheme-color-secondary-50};
  --color-secondary-60: #{$greentheme-color-secondary-60};
  --color-secondary-70: #{$greentheme-color-secondary-70};
  --color-gray-10: #{$greentheme-color-gray-10};
  --color-gray-20: #{$greentheme-color-gray-20};
  --color-gray-30: #{$greentheme-color-gray-30};
  --color-gray-40: #{$greentheme-color-gray-40};
  --color-gray-50: #{$greentheme-color-gray-50};
  --color-gray-60: #{$greentheme-color-gray-60};
  --color-gray-70: #{$greentheme-color-gray-70};
  --color-gray-80: #{$greentheme-color-gray-80};
  --color-gray-90: #{$greentheme-color-gray-90};
  --color-gray-100: #{$greentheme-color-gray-100};
  --color-semantic-success: #{$greentheme-color-semantic-success};
  --color-semantic-failure: #{$greentheme-color-semantic-failure};
  --color-semantic-notice: #{$greentheme-color-semantic-notice};
  --color-semantic-required: #{$greentheme-color-semantic-required};
  --color-login-button-font: #{$greentheme-color-login-button-font};
  --color-login-button-background: #{$greentheme-color-login-button-background};
  --color-login-border-focus: #{$greentheme-color-login-border-focus};
  --color-login-border-button: #{$greentheme-color-login-border-button};
  --color-sidebar-depth1-edge: #{$greentheme-color-sidebar-depth1-edge};
  --color-sidebar-depth1-background: #{$greentheme-color-sidebar-depth1-background};
  --color-sidebar-depth1-font-default: #{$greentheme-color-sidebar-depth1-font-default};
  --color-sidebar-depth1-font-selected: #{$greentheme-color-sidebar-depth1-font-selected};
  --color-sidebar-background-default: #{$greentheme-color-sidebar-background-default};
  --color-sidebar-border-default: #{$greentheme-color-sidebar-border-default};
  --color-sidebar-font-default: #{$greentheme-color-sidebar-font-default};
  --color-sidebar-font-hover: #{$greentheme-color-sidebar-font-hover};
  --color-sidebar-vertical-background-selected: #{$greentheme-color-sidebar-vertical-background-selected};
  --color-sidebar-vertical-background-default: #{$greentheme-color-sidebar-vertical-background-default};
  --color-sidebar-vertical-background-hover: #{$greentheme-color-sidebar-vertical-background-hover};
  --color-sidebar-vertical-font-selected: #{$greentheme-color-sidebar-vertical-font-selected};
  --color-sidebar-vertical-font-default: #{$greentheme-color-sidebar-vertical-font-default};
  --color-sidebar-vertical-font-hover: #{$greentheme-color-sidebar-vertical-font-hover};
  --color-sidebar-depth2-edge: #{$greentheme-color-sidebar-depth2-edge};
  --color-sidebar-depth2-background: #{$greentheme-color-sidebar-depth2-background};
  --color-sidebar-depth2-font-default: #{$greentheme-color-sidebar-depth2-font-default};
  --color-sidebar-depth2-font-hover: #{$greentheme-color-sidebar-depth2-font-hover};
  --color-sidebar-depth3-edge: #{$greentheme-color-sidebar-depth3-edge};
  --color-sidebar-depth3-background: #{$greentheme-color-sidebar-depth3-background};
  --color-sidebar-depth3-font-default: #{$greentheme-color-sidebar-depth3-font-default};
  --color-sidebar-depth3-font-hover: #{$greentheme-color-sidebar-depth3-font-hover};
  --color-header-icon-active: #{$greentheme-color-header-icon-active};
  --color-header-background: #{$greentheme-color-header-background};
  --color-header-font-avatarname: #{$greentheme-color-header-font-avatarname};
  --color-tag-background-disabled: #{$greentheme-color-tag-background-disabled};
  --color-tag-background-active: #{$greentheme-color-tag-background-active};
  --color-tag-icon-active: #{$greentheme-color-tag-icon-active};
  --color-tag-icon-default: #{$greentheme-color-tag-icon-default};
  --color-button-background-hover: #{$greentheme-color-button-background-hover};
  --color-button-background-active: #{$greentheme-color-button-background-active};
  --color-button-background-default: #{$greentheme-color-button-background-default};
  --color-button-font-default: #{$greentheme-color-button-font-default};
  --color-button-font-active: #{$greentheme-color-button-font-active};
  --color-right-panel-background: #{$greentheme-color-right-panel-background};
  --color-input-background-disabled: #{$greentheme-color-input-background-disabled};
  --color-input-background-default: #{$greentheme-color-input-background-default};
  --color-input-border-default: #{$greentheme-color-input-border-default};
  --color-input-border-focus: #{$greentheme-color-input-border-focus};
  --color-radio-checked: #{$greentheme-color-radio-checked};
  --color-radio-default: #{$greentheme-color-radio-default};
  --color-checkbox-checked: #{$greentheme-color-checkbox-checked};
  --color-checkbox-default: #{$greentheme-color-checkbox-default};
  --color-select-background-default: #{$greentheme-color-select-background-default};
  --color-select-background-selected: #{$greentheme-color-select-background-selected};
  --color-select-background-hover: #{$greentheme-color-select-background-hover};
  --color-select-dropdown-background-default: #{$greentheme-color-select-dropdown-background-default};
  --color-select-dropdown-background-selected: #{$greentheme-color-select-dropdown-background-selected};
  --color-select-dropdown-background-hover: #{$greentheme-color-select-dropdown-background-hover};
  --color-select-border: #{$greentheme-color-select-border};
  --color-list-background-default: #{$greentheme-color-list-background-default};
  --color-list-background-selected: #{$greentheme-color-list-background-selected};
  --color-list-background-hover: #{$greentheme-color-list-background-hover};
  --color-list-background-header: #{$greentheme-color-list-background-header};
  --color-list-border-default: #{$greentheme-color-list-border-default};
  --color-list-border-headerline-bottom: #{$greentheme-color-list-border-headerline-bottom};
  --color-tab-border-default: #{$greentheme-color-tab-border-default};
  --color-tab-border-selected: #{$greentheme-color-tab-border-selected};
  --color-tab-background-selected: #{$greentheme-color-tab-background-selected};
  --color-tab-background-default: #{$greentheme-color-tab-background-default};
  --color-dropdown-background-default: #{$greentheme-color-dropdown-background-default};
  --color-dropdown-background-selected: #{$greentheme-color-dropdown-background-selected};
  --color-dropdown-border-box: #{$greentheme-color-dropdown-border-box};
  --color-dropdown-border-bottom: #{$greentheme-color-dropdown-border-bottom};
  --color-component-background-default: #{$greentheme-color-component-background-default};
  --color-component-border-bottom: #{$greentheme-color-component-border-bottom};
  --color-comment-font-default: #{$greentheme-color-comment-font-default};
  --color-comment-border-bottom: #{$greentheme-color-comment-border-bottom};
  --color-toolbar-border-bottom: #{$greentheme-color-toolbar-border-bottom};
  --color-popup-background-default: #{$greentheme-color-popup-background-default};
  --color-popup-background-header: #{$greentheme-color-popup-background-header};
  --color-messagebox-background: #{$greentheme-color-messagebox-background};
  --color-schedule-background-selected: #{$greentheme-color-schedule-background-selected};
  --color-schedule-font-selected: #{$greentheme-color-schedule-font-selected};
  --color-schedule-border-box: #{$greentheme-color-schedule-border-box};
  --color-schedule-border-time: #{$greentheme-color-schedule-border-time};
  --color-timeline-item-tail: #{$greentheme-color-timeline-item-tail};
  --color-font-selected: #{$greentheme-color-font-selected};
  --color-font-disabled: #{$greentheme-color-font-disabled};
  --color-font-default: #{$greentheme-color-font-default};
  --color-font-darkbackground: #{$greentheme-color-font-darkbackground};
  --color-kanban-background-header: #{$greentheme-color-kanban-background-header};
  --color-kanban-background-ecard: #{$greentheme-color-kanban-background-ecard};
  --color-kanban-background-cardtag: #{$greentheme-color-kanban-background-cardtag};
  --color-kanban-background-wrapper: #{$greentheme-color-kanban-background-wrapper};
  --color-kanban-font-cardteg: #{$greentheme-color-kanban-font-cardteg};
  --color-step-icon-wait: #{$greentheme-color-step-icon-wait};
  --color-step-icon-secess: #{$greentheme-color-step-icon-secess};
  --color-step-icon-process: #{$greentheme-color-step-icon-process};
  --color-fileupload-boder: #{$greentheme-color-fileupload-boder};
  --color-theme-primary: #{$greentheme-color-theme-primary};
  --color-boxshadow-default: #{$greentheme-color-boxshadow-default};
  --color-mobile-menu-background: #{$greentheme-color-mobile-menu-background};
  --color-mobile-headermenu-profile: #{$greentheme-color-mobile-headermenu-profile};
  --fontfamily-default: #{$greentheme-fontfamily-default};
  --borderradius-default: #{$greentheme-borderradius-default};
  --fontsize-default: #{$greentheme-fontsize-default};
  --fontsize-xs: #{$greentheme-fontsize-xs};
  --fontsize-m: #{$greentheme-fontsize-m};
  --fontsize-s: #{$greentheme-fontsize-s};
  --fontsize-l: #{$greentheme-fontsize-l};
  --fontsize-xl: #{$greentheme-fontsize-xl};
  --borderwidth-default: #{$greentheme-borderwidth-default};
  --fontweight-default: #{$greentheme-fontweight-default};
  --spacing-gap-default: #{$greentheme-spacing-gap-default};
  --spacing-gap-small: #{$greentheme-spacing-gap-small};
  --spacing-gap-large: #{$greentheme-spacing-gap-large};
  --spacing-gap-xlarge: #{$greentheme-spacing-gap-xlarge};
  --spacing-gap-xxlage: #{$greentheme-spacing-gap-xxlage};
  --spacing-gap-xxxlarge: #{$greentheme-spacing-gap-xxxlarge};
  --spacing-gap-mediumlarge: #{$greentheme-spacing-gap-mediumlarge};

  --color-layout-background: #{$greentheme-color-primary-20};
}

.theme-kakao {
  --color-primary-10: #{$kakaotheme-color-primary-10};
  --color-primary-20: #{$kakaotheme-color-primary-20};
  --color-primary-30: #{$kakaotheme-color-primary-30};
  --color-primary-40: #{$kakaotheme-color-primary-40};
  --color-primary-50: #{$kakaotheme-color-primary-50};
  --color-primary-60: #{$kakaotheme-color-primary-60};
  --color-primary-70: #{$kakaotheme-color-primary-70};
  --color-primary-80: #{$kakaotheme-color-primary-80};
  --color-primary-90: #{$kakaotheme-color-primary-90};
  --color-primary-100: #{$kakaotheme-color-primary-100};
  --color-secondary-10: #{$kakaotheme-color-secondary-10};
  --color-secondary-20: #{$kakaotheme-color-secondary-20};
  --color-secondary-30: #{$kakaotheme-color-secondary-30};
  --color-secondary-40: #{$kakaotheme-color-secondary-40};
  --color-secondary-50: #{$kakaotheme-color-secondary-50};
  --color-secondary-60: #{$kakaotheme-color-secondary-60};
  --color-secondary-70: #{$kakaotheme-color-secondary-70};
  --color-gray-10: #{$kakaotheme-color-gray-10};
  --color-gray-20: #{$kakaotheme-color-gray-20};
  --color-gray-30: #{$kakaotheme-color-gray-30};
  --color-gray-40: #{$kakaotheme-color-gray-40};
  --color-gray-50: #{$kakaotheme-color-gray-50};
  --color-gray-60: #{$kakaotheme-color-gray-60};
  --color-gray-70: #{$kakaotheme-color-gray-70};
  --color-gray-80: #{$kakaotheme-color-gray-80};
  --color-gray-90: #{$kakaotheme-color-gray-90};
  --color-gray-100: #{$kakaotheme-color-gray-100};
  --color-semantic-success: #{$kakaotheme-color-semantic-success};
  --color-semantic-failure: #{$kakaotheme-color-semantic-failure};
  --color-semantic-notice: #{$kakaotheme-color-semantic-notice};
  --color-semantic-required: #{$kakaotheme-color-semantic-required};
  --color-login-button-font: #{$kakaotheme-color-login-button-font};
  --color-login-button-background: #{$kakaotheme-color-login-button-background};
  --color-login-border-focus: #{$kakaotheme-color-login-border-focus};
  --color-login-border-button: #{$kakaotheme-color-login-border-button};
  --color-sidebar-depth1-edge: #{$kakaotheme-color-sidebar-depth1-edge};
  --color-sidebar-depth1-background: #{$kakaotheme-color-sidebar-depth1-background};
  --color-sidebar-depth1-font-default: #{$kakaotheme-color-sidebar-depth1-font-default};
  --color-sidebar-depth1-font-selected: #{$kakaotheme-color-sidebar-depth1-font-selected};
  --color-sidebar-background-default: #{$kakaotheme-color-sidebar-background-default};
  --color-sidebar-border-default: #{$kakaotheme-color-sidebar-border-default};
  --color-sidebar-font-default: #{$kakaotheme-color-sidebar-font-default};
  --color-sidebar-font-hover: #{$kakaotheme-color-sidebar-font-hover};
  --color-sidebar-vertical-background-selected: #{$kakaotheme-color-sidebar-vertical-background-selected};
  --color-sidebar-vertical-background-default: #{$kakaotheme-color-sidebar-vertical-background-default};
  --color-sidebar-vertical-background-hover: #{$kakaotheme-color-sidebar-vertical-background-hover};
  --color-sidebar-vertical-font-selected: #{$kakaotheme-color-sidebar-vertical-font-selected};
  --color-sidebar-vertical-font-default: #{$kakaotheme-color-sidebar-vertical-font-default};
  --color-sidebar-vertical-font-hover: #{$kakaotheme-color-sidebar-vertical-font-hover};
  --color-sidebar-depth2-edge: #{$kakaotheme-color-sidebar-depth2-edge};
  --color-sidebar-depth2-background: #{$kakaotheme-color-sidebar-depth2-background};
  --color-sidebar-depth2-font-default: #{$kakaotheme-color-sidebar-depth2-font-default};
  --color-sidebar-depth2-font-hover: #{$kakaotheme-color-sidebar-depth2-font-hover};
  --color-sidebar-depth3-edge: #{$kakaotheme-color-sidebar-depth3-edge};
  --color-sidebar-depth3-background: #{$kakaotheme-color-sidebar-depth3-background};
  --color-sidebar-depth3-font-default: #{$kakaotheme-color-sidebar-depth3-font-default};
  --color-sidebar-depth3-font-hover: #{$kakaotheme-color-sidebar-depth3-font-hover};
  --color-header-icon-active: #{$kakaotheme-color-header-icon-active};
  --color-header-background: #{$kakaotheme-color-header-background};
  --color-header-font-avatarname: #{$kakaotheme-color-header-font-avatarname};
  --color-tag-background-disabled: #{$kakaotheme-color-tag-background-disabled};
  --color-tag-background-active: #{$kakaotheme-color-tag-background-active};
  --color-tag-icon-active: #{$kakaotheme-color-tag-icon-active};
  --color-tag-icon-default: #{$kakaotheme-color-tag-icon-default};
  --color-button-background-hover: #{$kakaotheme-color-button-background-hover};
  --color-button-background-active: #{$kakaotheme-color-button-background-active};
  --color-button-background-default: #{$kakaotheme-color-button-background-default};
  --color-button-font-default: #{$kakaotheme-color-button-font-default};
  --color-button-font-active: #{$kakaotheme-color-button-font-active};
  --color-right-panel-background: #{$kakaotheme-color-right-panel-background};
  --color-input-background-disabled: #{$kakaotheme-color-input-background-disabled};
  --color-input-background-default: #{$kakaotheme-color-input-background-default};
  --color-input-border-default: #{$kakaotheme-color-input-border-default};
  --color-input-border-focus: #{$kakaotheme-color-input-border-focus};
  --color-radio-checked: #{$kakaotheme-color-radio-checked};
  --color-radio-default: #{$kakaotheme-color-radio-default};
  --color-checkbox-checked: #{$kakaotheme-color-checkbox-checked};
  --color-checkbox-default: #{$kakaotheme-color-checkbox-default};
  --color-select-background-default: #{$kakaotheme-color-select-background-default};
  --color-select-background-selected: #{$kakaotheme-color-select-background-selected};
  --color-select-background-hover: #{$kakaotheme-color-select-background-hover};
  --color-select-dropdown-background-default: #{$kakaotheme-color-select-dropdown-background-default};
  --color-select-dropdown-background-selected: #{$kakaotheme-color-select-dropdown-background-selected};
  --color-select-dropdown-background-hover: #{$kakaotheme-color-select-dropdown-background-hover};
  --color-select-border: #{$kakaotheme-color-select-border};
  --color-list-background-default: #{$kakaotheme-color-list-background-default};
  --color-list-background-selected: #{$kakaotheme-color-list-background-selected};
  --color-list-background-hover: #{$kakaotheme-color-list-background-hover};
  --color-list-background-header: #{$kakaotheme-color-list-background-header};
  --color-list-border-default: #{$kakaotheme-color-list-border-default};
  --color-list-border-headerline-bottom: #{$kakaotheme-color-list-border-headerline-bottom};
  --color-tab-border-default: #{$kakaotheme-color-tab-border-default};
  --color-tab-border-selected: #{$kakaotheme-color-tab-border-selected};
  --color-tab-background-selected: #{$kakaotheme-color-tab-background-selected};
  --color-tab-background-default: #{$kakaotheme-color-tab-background-default};
  --color-dropdown-background-default: #{$kakaotheme-color-dropdown-background-default};
  --color-dropdown-background-selected: #{$kakaotheme-color-dropdown-background-selected};
  --color-dropdown-border-box: #{$kakaotheme-color-dropdown-border-box};
  --color-dropdown-border-bottom: #{$kakaotheme-color-dropdown-border-bottom};
  --color-component-background-default: #{$kakaotheme-color-component-background-default};
  --color-component-border-bottom: #{$kakaotheme-color-component-border-bottom};
  --color-comment-font-default: #{$kakaotheme-color-comment-font-default};
  --color-comment-border-bottom: #{$kakaotheme-color-comment-border-bottom};
  --color-toolbar-border-bottom: #{$kakaotheme-color-toolbar-border-bottom};
  --color-popup-background-default: #{$kakaotheme-color-popup-background-default};
  --color-popup-background-header: #{$kakaotheme-color-popup-background-header};
  --color-messagebox-background: #{$kakaotheme-color-messagebox-background};
  --color-schedule-background-selected: #{$kakaotheme-color-schedule-background-selected};
  --color-schedule-font-selected: #{$kakaotheme-color-schedule-font-selected};
  --color-schedule-border-box: #{$kakaotheme-color-schedule-border-box};
  --color-schedule-border-time: #{$kakaotheme-color-schedule-border-time};
  --color-timeline-item-tail: #{$kakaotheme-color-timeline-item-tail};
  --color-font-selected: #{$kakaotheme-color-font-selected};
  --color-font-disabled: #{$kakaotheme-color-font-disabled};
  --color-font-default: #{$kakaotheme-color-font-default};
  --color-font-darkbackground: #{$kakaotheme-color-font-darkbackground};
  --color-kanban-background-header: #{$kakaotheme-color-kanban-background-header};
  --color-kanban-background-ecard: #{$kakaotheme-color-kanban-background-ecard};
  --color-kanban-background-cardtag: #{$kakaotheme-color-kanban-background-cardtag};
  --color-kanban-background-wrapper: #{$kakaotheme-color-kanban-background-wrapper};
  --color-kanban-font-cardteg: #{$kakaotheme-color-kanban-font-cardteg};
  --color-step-icon-wait: #{$kakaotheme-color-step-icon-wait};
  --color-step-icon-secess: #{$kakaotheme-color-step-icon-secess};
  --color-step-icon-process: #{$kakaotheme-color-step-icon-process};
  --color-fileupload-boder: #{$kakaotheme-color-fileupload-boder};
  --color-theme-primary: #{$kakaotheme-color-theme-primary};
  --color-boxshadow-default: #{$kakaotheme-color-boxshadow-default};
  --color-mobile-menu-background: #{$kakaotheme-color-mobile-menu-background};
  --color-mobile-headermenu-profile: #{$kakaotheme-color-mobile-headermenu-profile};
  --fontfamily-default: #{$kakaotheme-fontfamily-default};
  --borderradius-default: #{$kakaotheme-borderradius-default};
  --fontsize-default: #{$kakaotheme-fontsize-default};
  --fontsize-xs: #{$kakaotheme-fontsize-xs};
  --fontsize-m: #{$kakaotheme-fontsize-m};
  --fontsize-s: #{$kakaotheme-fontsize-s};
  --fontsize-l: #{$kakaotheme-fontsize-l};
  --fontsize-xl: #{$kakaotheme-fontsize-xl};
  --borderwidth-default: #{$kakaotheme-borderwidth-default};
  --fontweight-default: #{$kakaotheme-fontweight-default};
  --spacing-gap-default: #{$kakaotheme-spacing-gap-default};
  --spacing-gap-small: #{$kakaotheme-spacing-gap-small};
  --spacing-gap-large: #{$kakaotheme-spacing-gap-large};
  --spacing-gap-xlarge: #{$kakaotheme-spacing-gap-xlarge};
  --spacing-gap-xxlage: #{$kakaotheme-spacing-gap-xxlage};
  --spacing-gap-xxxlarge: #{$kakaotheme-spacing-gap-xxxlarge};
  --spacing-gap-mediumlarge: #{$kakaotheme-spacing-gap-mediumlarge};

  --color-layout-background: #{$kakaotheme-color-primary-100};
}