.theme-green {
  --color-primary-10: #F5FAFC;
  --color-primary-20: #F4F7F8;
  --color-primary-30: #EBEEF4;
  --color-primary-40: #E4F3F7;
  --color-primary-50: #9FCAD9;
  --color-primary-60: #5796AD;
  --color-primary-70: #3386A2;
  --color-primary-80: #305461;
  --color-primary-90: #21667E;
  --color-primary-100: #07485F;
  --color-secondary-10: #0ab4e1;
  --color-secondary-20: #eb143c;
  --color-secondary-30: #eb9614;
  --color-secondary-40: #2dcd7d;
  --color-secondary-50: #C87D0A;
  --color-secondary-60: #8c8c8c;
  --color-secondary-70: #FE8057;
  --color-gray-10: #ffffff;
  --color-gray-20: #f6f6f6;
  --color-gray-30: #F1F1F1;
  --color-gray-40: #e8e8e8;
  --color-gray-50: #c5c5c5;
  --color-gray-60: #c6c6c6;
  --color-gray-70: #7c7c7c;
  --color-gray-80: #4b4b4b;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-semantic-success: #2AAEB1;
  --color-semantic-failure: #eb143c;
  --color-semantic-notice: #eb9614;
  --color-semantic-required: #f75456;
  --color-login-button-font: #ffffff;
  --color-login-button-background: #3386A2;
  --color-login-border-focus: #000000;
  --color-login-border-button: #3386A2;
  --color-sidebar-depth1-edge: #9FCAD9;
  --color-sidebar-depth1-background: #F5FAFC;
  --color-sidebar-depth1-font-default: #3386A2;
  --color-sidebar-depth1-font-selected: #305461;
  --color-sidebar-background-default: #F5FAFC;
  --color-sidebar-border-default: #F1F1F1;
  --color-sidebar-font-default: #3386A2;
  --color-sidebar-font-hover: #305461;
  --color-sidebar-vertical-background-selected: #3386A2;
  --color-sidebar-vertical-background-default: #ffffff;
  --color-sidebar-vertical-background-hover: #F1F1F1;
  --color-sidebar-vertical-font-selected: #ffffff;
  --color-sidebar-vertical-font-default: #3386A2;
  --color-sidebar-vertical-font-hover: #305461;
  --color-sidebar-depth2-edge: #5796AD;
  --color-sidebar-depth2-background: #F5FAFC;
  --color-sidebar-depth2-font-default: #3386A2;
  --color-sidebar-depth2-font-hover: #305461;
  --color-sidebar-depth3-edge: #3386A2;
  --color-sidebar-depth3-background: #F5FAFC;
  --color-sidebar-depth3-font-default: #3386A2;
  --color-sidebar-depth3-font-hover: #305461;
  --color-header-icon-active: #3386A2;
  --color-header-background: #ffffff;
  --color-header-font-avatarname: #7c7c7c;
  --color-tag-background-disabled: #ffffff;
  --color-tag-background-active: #9FCAD9;
  --color-tag-icon-active: #3386A2;
  --color-tag-icon-default: #7c7c7c;
  --color-button-background-hover: #e8e8e8;
  --color-button-background-active: #E4F3F7;
  --color-button-background-default: #ffffff;
  --color-button-font-default: #000000;
  --color-button-font-active: #305461;
  --color-right-panel-background: #EBEEF4;
  --color-input-background-disabled: #F1F1F1;
  --color-input-background-default: #ffffff;
  --color-input-border-default: #e8e8e8;
  --color-input-border-focus: #9FCAD9;
  --color-radio-checked: #305461;
  --color-radio-default: #c6c6c6;
  --color-checkbox-checked: #305461;
  --color-checkbox-default: #c6c6c6;
  --color-select-background-default: #ffffff;
  --color-select-background-selected: #E4F3F7;
  --color-select-background-hover: #F1F1F1;
  --color-select-dropdown-background-default: #ffffff;
  --color-select-dropdown-background-selected: #E4F3F7;
  --color-select-dropdown-background-hover: #F1F1F1;
  --color-select-border: #e8e8e8;
  --color-list-background-default: #ffffff;
  --color-list-background-selected: #E4F3F7;
  --color-list-background-hover: #f6f6f6;
  --color-list-background-header: #F5FAFC;
  --color-list-border-default: #EBEEF4;
  --color-list-border-headerline-bottom: #c5c5c5;
  --color-tab-border-default: #9FCAD9;
  --color-tab-border-selected: #9FCAD9;
  --color-tab-background-selected: #9FCAD9;
  --color-tab-background-default: #ffffff;
  --color-dropdown-background-default: #ffffff;
  --color-dropdown-background-selected: #E4F3F7;
  --color-dropdown-border-box: #e8e8e8;
  --color-dropdown-border-bottom: #F1F1F1;
  --color-component-background-default: #ffffff;
  --color-component-border-bottom: #E4F3F7;
  --color-comment-font-default: #000000;
  --color-comment-border-bottom: #e8e8e8;
  --color-toolbar-border-bottom: #9FCAD9;
  --color-popup-background-default: #ffffff;
  --color-popup-background-header: #EBEEF4;
  --color-messagebox-background: #E4F3F7;
  --color-schedule-background-selected: #9FCAD9;
  --color-schedule-font-selected: #3386A2;
  --color-schedule-border-box: #e8e8e8;
  --color-schedule-border-time: #F1F1F1;
  --color-timeline-item-tail: #e8e8e8;
  --color-font-selected: #305461;
  --color-font-disabled: #7c7c7c;
  --color-font-default: #000000;
  --color-font-darkbackground: #ffffff;
  --color-kanban-background-header: #3386A2;
  --color-kanban-background-ecard: #ffffff;
  --color-kanban-background-cardtag: #3386A2;
  --color-kanban-background-wrapper: #f6f6f6;
  --color-kanban-font-cardteg: #3386A2;
  --color-step-icon-wait: #e8e8e8;
  --color-step-icon-secess: #3386A2;
  --color-step-icon-process: #000000;
  --color-fileupload-boder: #e8e8e8;
  --color-theme-primary: #9FCAD9;
  --color-boxshadow-default: #0000004d;
  --color-mobile-menu-background: #ffffff;
  --color-mobile-headermenu-profile: #e8e8e8;
  --fontfamily-default: Noto Sans;
  --borderradius-default: 4;
  --fontsize-default: 14px;
  --fontsize-xs: 0.75rem;
  --fontsize-m: 1rem;
  --fontsize-s: 0.875rem;
  --fontsize-l: 1.125rem;
  --fontsize-xl: 1.25rem;
  --borderwidth-default: 1;
  --fontweight-default: 400;
  --spacing-gap-default: 7.5;
  --spacing-gap-small: 5;
  --spacing-gap-large: 12.5;
  --spacing-gap-xlarge: 15;
  --spacing-gap-xxlage: 20;
  --spacing-gap-xxxlarge: 40;
  --spacing-gap-mediumlarge: 10;

  --color-layout-background: #F4F7F8;
}

.theme-kakao {
  --color-primary-10: #1C1700;
  --color-primary-20: #4D4500;
  --color-primary-30: #807300;
  --color-primary-40: #B3A100;
  --color-primary-50: #E6CF00;
  --color-primary-60: #FAE100;
  --color-primary-70: #FFED4B;
  --color-primary-80: #FFF27D;
  --color-primary-90: #FFF27D;
  --color-primary-100: #FFFCDA;
  --color-secondary-10: #0ab4e1;
  --color-secondary-20: #eb143c;
  --color-secondary-30: #eb9614;
  --color-secondary-40: #2dcd7d;
  --color-secondary-50: #C87D0A;
  --color-secondary-60: #8c8c8c;
  --color-secondary-70: #FE8057;
  --color-gray-10: #ffffff;
  --color-gray-20: #f6f6f6;
  --color-gray-30: #F1F1F1;
  --color-gray-40: #e8e8e8;
  --color-gray-50: #c5c5c5;
  --color-gray-60: #c6c6c6;
  --color-gray-70: #7c7c7c;
  --color-gray-80: #4b4b4b;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-semantic-success: #2AAEB1;
  --color-semantic-failure: #eb143c;
  --color-semantic-notice: #eb9614;
  --color-semantic-required: #f75456;
  --color-login-button-font: #ffffff;
  --color-login-button-background: #3386A2;
  --color-login-border-focus: #000000;
  --color-login-border-button: #3386A2;
  --color-sidebar-depth1-edge: #9FCAD9;
  --color-sidebar-depth1-background: #F5FAFC;
  --color-sidebar-depth1-font-default: #3386A2;
  --color-sidebar-depth1-font-selected: #305461;
  --color-sidebar-background-default: #F5FAFC;
  --color-sidebar-border-default: #F1F1F1;
  --color-sidebar-font-default: #3386A2;
  --color-sidebar-font-hover: #305461;
  --color-sidebar-vertical-background-selected: #3386A2;
  --color-sidebar-vertical-background-default: #ffffff;
  --color-sidebar-vertical-background-hover: #F1F1F1;
  --color-sidebar-vertical-font-selected: #ffffff;
  --color-sidebar-vertical-font-default: #3386A2;
  --color-sidebar-vertical-font-hover: #305461;
  --color-sidebar-depth2-edge: #5796AD;
  --color-sidebar-depth2-background: #F5FAFC;
  --color-sidebar-depth2-font-default: #3386A2;
  --color-sidebar-depth2-font-hover: #305461;
  --color-sidebar-depth3-edge: #3386A2;
  --color-sidebar-depth3-background: #F5FAFC;
  --color-sidebar-depth3-font-default: #3386A2;
  --color-sidebar-depth3-font-hover: #305461;
  --color-header-icon-active: #3386A2;
  --color-header-background: #ffffff;
  --color-header-font-avatarname: #7c7c7c;
  --color-tag-background-disabled: #ffffff;
  --color-tag-background-active: #9FCAD9;
  --color-tag-icon-active: #3386A2;
  --color-tag-icon-default: #7c7c7c;
  --color-button-background-hover: #e8e8e8;
  --color-button-background-active: #E4F3F7;
  --color-button-background-default: #ffffff;
  --color-button-font-default: #000000;
  --color-button-font-active: #305461;
  --color-right-panel-background: #EBEEF4;
  --color-input-background-disabled: #F1F1F1;
  --color-input-background-default: #ffffff;
  --color-input-border-default: #e8e8e8;
  --color-input-border-focus: #9FCAD9;
  --color-radio-checked: #305461;
  --color-radio-default: #c6c6c6;
  --color-checkbox-checked: #305461;
  --color-checkbox-default: #c6c6c6;
  --color-select-background-default: #ffffff;
  --color-select-background-selected: #E4F3F7;
  --color-select-background-hover: #F1F1F1;
  --color-select-dropdown-background-default: #ffffff;
  --color-select-dropdown-background-selected: #E4F3F7;
  --color-select-dropdown-background-hover: #F1F1F1;
  --color-select-border: #e8e8e8;
  --color-list-background-default: #ffffff;
  --color-list-background-selected: #E4F3F7;
  --color-list-background-hover: #f6f6f6;
  --color-list-background-header: #F5FAFC;
  --color-list-border-default: #EBEEF4;
  --color-list-border-headerline-bottom: #c5c5c5;
  --color-tab-border-default: #9FCAD9;
  --color-tab-border-selected: #9FCAD9;
  --color-tab-background-selected: #9FCAD9;
  --color-tab-background-default: #ffffff;
  --color-dropdown-background-default: #ffffff;
  --color-dropdown-background-selected: #E4F3F7;
  --color-dropdown-border-box: #e8e8e8;
  --color-dropdown-border-bottom: #F1F1F1;
  --color-component-background-default: #ffffff;
  --color-component-border-bottom: #E4F3F7;
  --color-comment-font-default: #000000;
  --color-comment-border-bottom: #e8e8e8;
  --color-toolbar-border-bottom: #9FCAD9;
  --color-popup-background-default: #ffffff;
  --color-popup-background-header: #EBEEF4;
  --color-messagebox-background: #E4F3F7;
  --color-schedule-background-selected: #9FCAD9;
  --color-schedule-font-selected: #3386A2;
  --color-schedule-border-box: #e8e8e8;
  --color-schedule-border-time: #F1F1F1;
  --color-timeline-item-tail: #e8e8e8;
  --color-font-selected: #305461;
  --color-font-disabled: #7c7c7c;
  --color-font-default: #000000;
  --color-font-darkbackground: #ffffff;
  --color-kanban-background-header: #3386A2;
  --color-kanban-background-ecard: #ffffff;
  --color-kanban-background-cardtag: #3386A2;
  --color-kanban-background-wrapper: #f6f6f6;
  --color-kanban-font-cardteg: #3386A2;
  --color-step-icon-wait: #e8e8e8;
  --color-step-icon-secess: #3386A2;
  --color-step-icon-process: #000000;
  --color-fileupload-boder: #e8e8e8;
  --color-theme-primary: #FFF27D;
  --color-boxshadow-default: #0000004d;
  --color-mobile-menu-background: #ffffff;
  --color-mobile-headermenu-profile: #e8e8e8;
  --fontfamily-default: Noto Sans;
  --borderradius-default: 4;
  --fontsize-default: 14;
  --fontsize-xs: 0.75rem;
  --fontsize-m: 1rem;
  --fontsize-s: 0.875rem;
  --fontsize-l: 1.125rem;
  --fontsize-xl: 1.25rem;
  --borderwidth-default: 1;
  --fontweight-default: 400;
  --spacing-gap-default: 7.5;
  --spacing-gap-small: 5;
  --spacing-gap-large: 12.5;
  --spacing-gap-xlarge: 15;
  --spacing-gap-xxlage: 20;
  --spacing-gap-xxxlarge: 40;
  --spacing-gap-mediumlarge: 10;

  --color-layout-background: #FFFCDA;
}