:root {
  --fontfamily-notosans: Noto Sans;
  --fontweight-thin: 100;
  --fontweight-light: 300;
  --fontweight-regular: 400;
  --fontweight-medium: 500;
  --fontweight-bold: 700;
  --fontsize-px-1: 8px;
  --fontsize-px-2: 10px;
  --fontsize-px-3: 12px;
  --fontsize-px-4: 13px;
  --fontsize-px-5: 14px;
  --fontsize-px-6: 16px;
  --fontsize-px-7: 18px;
  --fontsize-px-8: 20px;
  --fontsize-px-9: 24px;
  --fontsize-px-10: 28px;
  --fontsize-px-11: 32px;
  --fontsize-rem-1: 0.625rem;
  --fontsize-rem-2: 0.75rem;
  --fontsize-rem-3: 0.812rem;
  --fontsize-rem-4: 0.875rem;
  --fontsize-rem-5: 1rem;
  --fontsize-rem-6: 1.125rem;
  --fontsize-rem-7: 1.25rem;
  --fontsize-rem-8: 1.5rem;
  --fontsize-rem-9: 1.75rem;
  --fontsize-rem-10: 2rem;
  --fontsize-rem-11: 2.625rem;
  --spacing-gap-s: 5;
  --spacing-gap-m: 7.5;
  --spacing-gap-l: 12.5;
  --spacing-gap-xl: 15;
  --spacing-gap-xxl: 20;
  --spacing-gap-xxxl: 40;
  --spacing-gap-ml: 10;
  --borderradius-s: 1;
  --borderradius-m: 3;
  --borderradius-l: 4;
  --borderradius-xl: 8;
  --borderradius-xxl: 10;
  --borderradius-xxxl: 100;
  --borderwidth-s: 1;
  --borderwidth-m: 2;
  --borderwidth-l: 4;
  --sizing-icon-8: 8;
  --sizing-icon-12: 12;
  --sizing-icon-16: 16;
  --sizing-icon-20: 20;
  --sizing-icon-24: 24;
  --sizing-icon-28: 28;
  --sizing-icon-32: 32;
  --sizing-icon-36: 36;
  --sizing-icon-40: 40;
  --sizing-icon-44: 44;
  --sizing-icon-48: 48;
  --sizing-icon-52: 52;
  --sizing-icon-56: 56;
  --sizing-icon-60: 60;
  --sizing-icon-80: 80;
  --sizing-icon-100: 100;
  --sizing-icon-120: 120;
  --sizing-icon-140: 140;
  --greentheme-color-primary-10: #F5FAFC;
  --greentheme-color-primary-20: #F4F7F8;
  --greentheme-color-primary-30: #EBEEF4;
  --greentheme-color-primary-40: #E4F3F7;
  --greentheme-color-primary-50: #9FCAD9;
  --greentheme-color-primary-60: #5796AD;
  --greentheme-color-primary-70: #3386A2;
  --greentheme-color-primary-80: #305461;
  --greentheme-color-primary-90: #21667E;
  --greentheme-color-primary-100: #07485F;
  --greentheme-color-secondary-10: #0ab4e1;
  --greentheme-color-secondary-20: #eb143c;
  --greentheme-color-secondary-30: #eb9614;
  --greentheme-color-secondary-40: #2dcd7d;
  --greentheme-color-secondary-50: #C87D0A;
  --greentheme-color-secondary-60: #8c8c8c;
  --greentheme-color-secondary-70: #FE8057;
  --greentheme-color-gray-10: #ffffff;
  --greentheme-color-gray-20: #f6f6f6;
  --greentheme-color-gray-30: #F1F1F1;
  --greentheme-color-gray-40: #e8e8e8;
  --greentheme-color-gray-50: #c5c5c5;
  --greentheme-color-gray-60: #c6c6c6;
  --greentheme-color-gray-70: #7c7c7c;
  --greentheme-color-gray-80: #4b4b4b;
  --greentheme-color-gray-90: #222222;
  --greentheme-color-gray-100: #000000;
  --greentheme-color-semantic-success: #2AAEB1;
  --greentheme-color-semantic-failure: #eb143c;
  --greentheme-color-semantic-notice: #eb9614;
  --greentheme-color-semantic-required: #f75456;
  --greentheme-color-login-button-font: #ffffff;
  --greentheme-color-login-button-background: #3386A2;
  --greentheme-color-login-border-focus: #000000;
  --greentheme-color-login-border-button: #3386A2;
  --greentheme-color-sidebar-depth1-edge: #9FCAD9;
  --greentheme-color-sidebar-depth1-background: #F5FAFC;
  --greentheme-color-sidebar-depth1-font-default: #3386A2;
  --greentheme-color-sidebar-depth1-font-selected: #305461;
  --greentheme-color-sidebar-background-default: #F5FAFC;
  --greentheme-color-sidebar-border-default: #F1F1F1;
  --greentheme-color-sidebar-font-default: #3386A2;
  --greentheme-color-sidebar-font-hover: #305461;
  --greentheme-color-sidebar-vertical-background-selected: #3386A2;
  --greentheme-color-sidebar-vertical-background-default: #ffffff;
  --greentheme-color-sidebar-vertical-background-hover: #F1F1F1;
  --greentheme-color-sidebar-vertical-font-selected: #ffffff;
  --greentheme-color-sidebar-vertical-font-default: #3386A2;
  --greentheme-color-sidebar-vertical-font-hover: #305461;
  --greentheme-color-sidebar-depth2-edge: #5796AD;
  --greentheme-color-sidebar-depth2-background: #F5FAFC;
  --greentheme-color-sidebar-depth2-font-default: #3386A2;
  --greentheme-color-sidebar-depth2-font-hover: #305461;
  --greentheme-color-sidebar-depth3-edge: #3386A2;
  --greentheme-color-sidebar-depth3-background: #F5FAFC;
  --greentheme-color-sidebar-depth3-font-default: #3386A2;
  --greentheme-color-sidebar-depth3-font-hover: #305461;
  --greentheme-color-header-icon-active: #3386A2;
  --greentheme-color-header-background: #ffffff;
  --greentheme-color-header-font-avatarname: #7c7c7c;
  --greentheme-color-tag-background-disabled: #ffffff;
  --greentheme-color-tag-background-active: #9FCAD9;
  --greentheme-color-tag-icon-active: #3386A2;
  --greentheme-color-tag-icon-default: #7c7c7c;
  --greentheme-color-button-background-hover: #e8e8e8;
  --greentheme-color-button-background-active: #E4F3F7;
  --greentheme-color-button-background-default: #ffffff;
  --greentheme-color-button-font-default: #000000;
  --greentheme-color-button-font-active: #305461;
  --greentheme-color-right-panel-background: #EBEEF4;
  --greentheme-color-input-background-disabled: #F1F1F1;
  --greentheme-color-input-background-default: #ffffff;
  --greentheme-color-input-border-default: #e8e8e8;
  --greentheme-color-input-border-focus: #9FCAD9;
  --greentheme-color-radio-checked: #305461;
  --greentheme-color-radio-default: #c6c6c6;
  --greentheme-color-checkbox-checked: #305461;
  --greentheme-color-checkbox-default: #c6c6c6;
  --greentheme-color-select-background-default: #ffffff;
  --greentheme-color-select-background-selected: #E4F3F7;
  --greentheme-color-select-background-hover: #F1F1F1;
  --greentheme-color-select-dropdown-background-default: #ffffff;
  --greentheme-color-select-dropdown-background-selected: #E4F3F7;
  --greentheme-color-select-dropdown-background-hover: #F1F1F1;
  --greentheme-color-select-border: #e8e8e8;
  --greentheme-color-list-background-default: #ffffff;
  --greentheme-color-list-background-selected: #E4F3F7;
  --greentheme-color-list-background-hover: #f6f6f6;
  --greentheme-color-list-background-header: #F5FAFC;
  --greentheme-color-list-border-default: #EBEEF4;
  --greentheme-color-list-border-headerline-bottom: #c5c5c5;
  --greentheme-color-tab-border-default: #9FCAD9;
  --greentheme-color-tab-border-selected: #9FCAD9;
  --greentheme-color-tab-background-selected: #9FCAD9;
  --greentheme-color-tab-background-default: #ffffff;
  --greentheme-color-dropdown-background-default: #ffffff;
  --greentheme-color-dropdown-background-selected: #E4F3F7;
  --greentheme-color-dropdown-border-box: #e8e8e8;
  --greentheme-color-dropdown-border-bottom: #F1F1F1;
  --greentheme-color-component-background-default: #ffffff;
  --greentheme-color-component-border-bottom: #E4F3F7;
  --greentheme-color-comment-font-default: #000000;
  --greentheme-color-comment-border-bottom: #e8e8e8;
  --greentheme-color-toolbar-border-bottom: #9FCAD9;
  --greentheme-color-popup-background-default: #ffffff;
  --greentheme-color-popup-background-header: #EBEEF4;
  --greentheme-color-messagebox-background: #E4F3F7;
  --greentheme-color-schedule-background-selected: #9FCAD9;
  --greentheme-color-schedule-font-selected: #3386A2;
  --greentheme-color-schedule-border-box: #e8e8e8;
  --greentheme-color-schedule-border-time: #F1F1F1;
  --greentheme-color-timeline-item-tail: #e8e8e8;
  --greentheme-color-font-selected: #305461;
  --greentheme-color-font-disabled: #7c7c7c;
  --greentheme-color-font-default: #000000;
  --greentheme-color-font-darkbackground: #ffffff;
  --greentheme-color-kanban-background-header: #3386A2;
  --greentheme-color-kanban-background-ecard: #ffffff;
  --greentheme-color-kanban-background-cardtag: #3386A2;
  --greentheme-color-kanban-background-wrapper: #f6f6f6;
  --greentheme-color-kanban-font-cardteg: #3386A2;
  --greentheme-color-step-icon-wait: #e8e8e8;
  --greentheme-color-step-icon-secess: #3386A2;
  --greentheme-color-step-icon-process: #000000;
  --greentheme-color-fileupload-boder: #e8e8e8;
  --greentheme-color-theme-primary: #3386A2;
  --greentheme-color-boxshadow-default: #0000004d;
  --greentheme-color-mobile-menu-background: #ffffff;
  --greentheme-color-mobile-headermenu-profile: #e8e8e8;
  --greentheme-fontfamily-default: Noto Sans;
  --greentheme-borderradius-default: 4;
  --greentheme-fontsize-default: 14px;
  --greentheme-fontsize-xs: 0.75rem;
  --greentheme-fontsize-m: 1rem;
  --greentheme-fontsize-s: 0.875rem;
  --greentheme-fontsize-l: 1.125rem;
  --greentheme-fontsize-xl: 1.25rem;
  --greentheme-borderwidth-default: 1;
  --greentheme-fontweight-default: 400;
  --greentheme-spacing-gap-default: 7.5;
  --greentheme-spacing-gap-small: 5;
  --greentheme-spacing-gap-large: 12.5;
  --greentheme-spacing-gap-xlarge: 15;
  --greentheme-spacing-gap-xxlage: 20;
  --greentheme-spacing-gap-xxxlarge: 40;
  --greentheme-spacing-gap-mediumlarge: 10;

  --kakaotheme-color-primary-10: #1C1700;
  --kakaotheme-color-primary-20: #4D4500;
  --kakaotheme-color-primary-30: #807300;
  --kakaotheme-color-primary-40: #B3A100;
  --kakaotheme-color-primary-50: #E6CF00;
  --kakaotheme-color-primary-60: #FAE100;
  --kakaotheme-color-primary-70: #FFED4B;
  --kakaotheme-color-primary-80: #FFF27D;
  --kakaotheme-color-primary-90: #FFF27D;
  --kakaotheme-color-primary-100: #FFFCDA;
  --kakaotheme-color-secondary-10: #0ab4e1;
  --kakaotheme-color-secondary-20: #eb143c;
  --kakaotheme-color-secondary-30: #eb9614;
  --kakaotheme-color-secondary-40: #2dcd7d;
  --kakaotheme-color-secondary-50: #C87D0A;
  --kakaotheme-color-secondary-60: #8c8c8c;
  --kakaotheme-color-secondary-70: #FE8057;
  --kakaotheme-color-gray-10: #000000;
  --kakaotheme-color-gray-20: #1B1B1B;
  --kakaotheme-color-gray-30: #393939;
  --kakaotheme-color-gray-40: #4F4F4F;
  --kakaotheme-color-gray-50: #707070;
  --kakaotheme-color-gray-60: #8C8C8C;
  --kakaotheme-color-gray-70: #BBBBBB;
  --kakaotheme-color-gray-80: #D9D9D9;
  --kakaotheme-color-gray-90: #F0F0F0;
  --kakaotheme-color-gray-100: #ffffff;
  --kakaotheme-color-semantic-success: #2AAEB1;
  --kakaotheme-color-semantic-failure: #eb143c;
  --kakaotheme-color-semantic-notice: #eb9614;
  --kakaotheme-color-semantic-required: #f75456;
  --kakaotheme-color-login-button-font: #ffffff;
  --kakaotheme-color-login-button-background: #3386A2;
  --kakaotheme-color-login-border-focus: #000000;
  --kakaotheme-color-login-border-button: #3386A2;
  --kakaotheme-color-sidebar-depth1-edge: #9FCAD9;
  --kakaotheme-color-sidebar-depth1-background: #F5FAFC;
  --kakaotheme-color-sidebar-depth1-font-default: #3386A2;
  --kakaotheme-color-sidebar-depth1-font-selected: #305461;
  --kakaotheme-color-sidebar-background-default: #F5FAFC;
  --kakaotheme-color-sidebar-border-default: #F1F1F1;
  --kakaotheme-color-sidebar-font-default: #3386A2;
  --kakaotheme-color-sidebar-font-hover: #305461;
  --kakaotheme-color-sidebar-vertical-background-selected: #3386A2;
  --kakaotheme-color-sidebar-vertical-background-default: #ffffff;
  --kakaotheme-color-sidebar-vertical-background-hover: #F1F1F1;
  --kakaotheme-color-sidebar-vertical-font-selected: #ffffff;
  --kakaotheme-color-sidebar-vertical-font-default: #3386A2;
  --kakaotheme-color-sidebar-vertical-font-hover: #305461;
  --kakaotheme-color-sidebar-depth2-edge: #5796AD;
  --kakaotheme-color-sidebar-depth2-background: #F5FAFC;
  --kakaotheme-color-sidebar-depth2-font-default: #3386A2;
  --kakaotheme-color-sidebar-depth2-font-hover: #305461;
  --kakaotheme-color-sidebar-depth3-edge: #3386A2;
  --kakaotheme-color-sidebar-depth3-background: #F5FAFC;
  --kakaotheme-color-sidebar-depth3-font-default: #3386A2;
  --kakaotheme-color-sidebar-depth3-font-hover: #305461;
  --kakaotheme-color-header-icon-active: #3386A2;
  --kakaotheme-color-header-background: #ffffff;
  --kakaotheme-color-header-font-avatarname: #7c7c7c;
  --kakaotheme-color-tag-background-disabled: #ffffff;
  --kakaotheme-color-tag-background-active: #9FCAD9;
  --kakaotheme-color-tag-icon-active: #3386A2;
  --kakaotheme-color-tag-icon-default: #7c7c7c;
  --kakaotheme-color-button-background-hover: #e8e8e8;
  --kakaotheme-color-button-background-active: #E4F3F7;
  --kakaotheme-color-button-background-default: #ffffff;
  --kakaotheme-color-button-font-default: #000000;
  --kakaotheme-color-button-font-active: #305461;
  --kakaotheme-color-right-panel-background: #EBEEF4;
  --kakaotheme-color-input-background-disabled: #F1F1F1;
  --kakaotheme-color-input-background-default: #ffffff;
  --kakaotheme-color-input-border-default: #e8e8e8;
  --kakaotheme-color-input-border-focus: #9FCAD9;
  --kakaotheme-color-radio-checked: #305461;
  --kakaotheme-color-radio-default: #c6c6c6;
  --kakaotheme-color-checkbox-checked: #305461;
  --kakaotheme-color-checkbox-default: #c6c6c6;
  --kakaotheme-color-select-background-default: #ffffff;
  --kakaotheme-color-select-background-selected: #E4F3F7;
  --kakaotheme-color-select-background-hover: #F1F1F1;
  --kakaotheme-color-select-dropdown-background-default: #ffffff;
  --kakaotheme-color-select-dropdown-background-selected: #E4F3F7;
  --kakaotheme-color-select-dropdown-background-hover: #F1F1F1;
  --kakaotheme-color-select-border: #e8e8e8;
  --kakaotheme-color-list-background-default: #ffffff;
  --kakaotheme-color-list-background-selected: #E4F3F7;
  --kakaotheme-color-list-background-hover: #f6f6f6;
  --kakaotheme-color-list-background-header: #F5FAFC;
  --kakaotheme-color-list-border-default: #EBEEF4;
  --kakaotheme-color-list-border-headerline-bottom: #c5c5c5;
  --kakaotheme-color-tab-border-default: #9FCAD9;
  --kakaotheme-color-tab-border-selected: #9FCAD9;
  --kakaotheme-color-tab-background-selected: #9FCAD9;
  --kakaotheme-color-tab-background-default: #ffffff;
  --kakaotheme-color-dropdown-background-default: #ffffff;
  --kakaotheme-color-dropdown-background-selected: #E4F3F7;
  --kakaotheme-color-dropdown-border-box: #e8e8e8;
  --kakaotheme-color-dropdown-border-bottom: #F1F1F1;
  --kakaotheme-color-component-background-default: #ffffff;
  --kakaotheme-color-component-border-bottom: #E4F3F7;
  --kakaotheme-color-comment-font-default: #000000;
  --kakaotheme-color-comment-border-bottom: #e8e8e8;
  --kakaotheme-color-toolbar-border-bottom: #9FCAD9;
  --kakaotheme-color-popup-background-default: #ffffff;
  --kakaotheme-color-popup-background-header: #EBEEF4;
  --kakaotheme-color-messagebox-background: #E4F3F7;
  --kakaotheme-color-schedule-background-selected: #9FCAD9;
  --kakaotheme-color-schedule-font-selected: #3386A2;
  --kakaotheme-color-schedule-border-box: #e8e8e8;
  --kakaotheme-color-schedule-border-time: #F1F1F1;
  --kakaotheme-color-timeline-item-tail: #e8e8e8;
  --kakaotheme-color-font-selected: #305461;
  --kakaotheme-color-font-disabled: #7c7c7c;
  --kakaotheme-color-font-default: #000000;
  --kakaotheme-color-font-darkbackground: #ffffff;
  --kakaotheme-color-kanban-background-header: #3386A2;
  --kakaotheme-color-kanban-background-ecard: #ffffff;
  --kakaotheme-color-kanban-background-cardtag: #3386A2;
  --kakaotheme-color-kanban-background-wrapper: #f6f6f6;
  --kakaotheme-color-kanban-font-cardteg: #3386A2;
  --kakaotheme-color-step-icon-wait: #e8e8e8;
  --kakaotheme-color-step-icon-secess: #3386A2;
  --kakaotheme-color-step-icon-process: #000000;
  --kakaotheme-color-fileupload-boder: #e8e8e8;
  --kakaotheme-color-theme-primary: #3386A2;
  --kakaotheme-color-boxshadow-default: #0000004d;
  --kakaotheme-color-mobile-menu-background: #ffffff;
  --kakaotheme-color-mobile-headermenu-profile: #e8e8e8;
  --kakaotheme-fontfamily-default: Noto Sans;
  --kakaotheme-borderradius-default: 4;
  --kakaotheme-fontsize-default: 14px;
  --kakaotheme-fontsize-xs: 0.75rem;
  --kakaotheme-fontsize-m: 1rem;
  --kakaotheme-fontsize-s: 0.875rem;
  --kakaotheme-fontsize-l: 1.125rem;
  --kakaotheme-fontsize-xl: 1.25rem;
  --kakaotheme-borderwidth-default: 1;
  --kakaotheme-fontweight-default: 400;
  --kakaotheme-spacing-gap-default: 7.5;
  --kakaotheme-spacing-gap-small: 5;
  --kakaotheme-spacing-gap-large: 12.5;
  --kakaotheme-spacing-gap-xlarge: 15;
  --kakaotheme-spacing-gap-xxlage: 20;
  --kakaotheme-spacing-gap-xxxlarge: 40;
  --kakaotheme-spacing-gap-mediumlarge: 10;
}