/** @define password */
/// QSPassword control style<br />
/// @author sj.baek
.qs-password {
  margin-bottom: $qs-form-item-margin-bottom;
  @include qs-set-form-style('.qs-password', 'input');

  &.is-login {
    margin-bottom: 0;
  }

  .el-input__inner {
    font-family: sans-serif;
  }
}
