/** @define canvas */
/// QSCanvas control style<br />
/// @author sj.baek
.qs-canvas {
  float: left;
  width: 100%;
  height: 100%;
  background-color: $qs-canvas-background-color;

  .e-diagram-resize-handle.e-disabled {
    visibility: hidden;
  }

  .e-diagram-border {
    stroke: $qs-canvas-node-stroke-color;
  }

  .e-diagram-resize-handle {
    fill: $qs-canvas-node-handle-background-color;
    stroke: $qs-canvas-node-handle-stroke-color;
  }

  .e-diagram-endpoint-handle {
    fill: $qs-canvas-node-background-color;
    stroke: $qs-canvas-node-stroke-color;

    &.e-connected {
      fill: $qs-canvas-node-background-color;
      stroke: $qs-canvas-node-stroke-color;
    }
  }

  .e-diagram-highlighter {
    fill: $qs-canvas-node-background-color;
    stroke: $qs-canvas-node-stroke-color;
  }
}
