// nanumbarungothic ultra light
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicUltraLight.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicUltraLight.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothicUltraLight.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothicUltraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
// nanumbarungothic light
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicLight.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicLight.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothicLight.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothicLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
// nanumbarungothic regular
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothic.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothic.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothic.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothic.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
// nanumbarungothic medium
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicBold.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicBold.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothicBold.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothicBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
// nanumbarungothic bold
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicBold.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothicBold.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothicBold.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothicBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
// nanumbarungothic black
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothic.eot');
  src:
    url('~assets/styles/fonts/nanumbarungothic/eot/NanumBarunGothic.eot#iefix') format("embedded-opentype"),
    url('~assets/styles/fonts/nanumbarungothic/woff/NanumBarunGothic.woff') format('woff'),
    url('~assets/styles/fonts/nanumbarungothic/ttf/NanumBarunGothic.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
